# Object file
*.o

# .history files
*.history
*.Rhistory

# MATLAB temp files
*.m~

# directories & files I dont want indexed, for now
r_process_files
rsmDirectory

# RData stores
*.RData

# .DS_Store
.DS_Store
LipidomicsToolbox.Rproj
